@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";

@font-face {
	font-family: gobold;
	src: url('fonts/goboing.ttf');
}

@font-face {
	font-family: montserrat;
	src: url('fonts/Montserrat-Regular.ttf');
}

.font-boing {
	font-family: gobold;
}

.font-montserrat {
	font-family: montserrat !important;
}

